@import "tailwindcss";

/* Universal scrollbar styling */
* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #575b63 #101828; /* thumb color | track color */
}

/* Webkit-based browsers (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  width: 10px; /* width of vertical scrollbar */
  height: 10px; /* height of horizontal scrollbar */
}

*::-webkit-scrollbar-track {
  background: #101828; /* track color */
}

*::-webkit-scrollbar-thumb {
  background-color: #575b63; /* thumb color */
  border-radius: 6px; /* rounded corners */
  border: 2px solid #101828; /* padding around thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #575b63; /* hover effect */
}
